.footer {
  margin-top: 92px;
  padding-bottom: 24px;
  text-align: center;
}

.footer__copyright {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

/* MEDIA QUERIES  */

@media screen and (max-width: 1024px) {
  .footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin-top: 64px;
  }
}
