@import url("../vendor/fonts.css");
@import url("../vendor/normalize.css");
@import url("../blocks/header.css");
@import url("../blocks/lead.css");
@import url("../blocks/intro.css");
@import url("../blocks/footer.css");

/*  ESTILOS GERAIS */

.page {
  min-width: 320px;
  margin: 0;
  background-color: #2a2c2f;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
}

.content {
  max-width: 984px;
  margin: 0 auto;
}

/* MEDIA QUERIES  */

@media screen and (max-width: 1024px) {
  .content {
    max-width: none;
  }
}
